default_config:

homeassistant:
  name: !secret homeassistant_name
  latitude: !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  elevation: 199
  unit_system: imperial
  time_zone: America/Los_Angeles
  external_url: !secret external_url
  internal_url: !secret internal_url

  auth_providers:
  - type: trusted_networks
    trusted_networks:
    - 192.168.0.0/24
    - 127.0.0.1
  - type: homeassistant
  
# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

binary_sensor: !include_dir_merge_list binary_sensors/


####
# Custom Components
#
#  * note that the wyze custom component is in binary_sensors/
##
sonoff:
  username: !secret sonoff_username
  password: !secret sonoff_password
  scan_interval: 60
  grace_period: 600
  api_region: 'us'
