homeassistant_name: HOMEASSISTANT_NAME
homeassistant_latitude: 0
homeassistant_longitude: 0
external_url: "https://www.example.com"
internal_url: "http://homeassistant.local:8123"
sonoff_username: <SONOFF_USERNAME>
sonoff_password: <SONOFF_PASSWORD>