name: "Run Action"
on:
  push:
    branch:
      - master
  pull_request:
    branch:
      - master

jobs:
  check:
    name: Home Assistant Config Check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Home Assistant Configuration
      uses: actions/checkout@master
      with:
        path: config
    - name: Clone private secrets repository
      uses: actions/checkout@v2.3.1
      with:
        repository: rwlove/homeassistant-secrets
        ref: master
        token: ${{ secrets.GITHUBPAT }} # `GitHub_PAT` is a secret that contains your PAT
        path: secrets
    - name: ls
      working-directory: ${{ github.workspace }}  
      run: ls -la
    - name: ls-config
      working-directory: ${{ github.workspace }}  
      run: ls -la config/
    - name: ls-secrets
      working-directory: ${{ github.workspace }}  
      run: ls -la secrets/
    - name: Run Config Check
      uses: ludeeus/action-ha-config-check@master
      env:
        INPUT_CONFIG_PATH: config
