name: "Run Action"
on:
  push:
    branch:
      - master
  pull_request:
    branch:
      - master

jobs:
  check:
    name: Home Assistant Config Check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Home Assistant Configuration
      uses: actions/checkout@master
      with:
        path: config
    - name: Clone private secrets repository
      uses: actions/checkout@v2.3.1
      with:
        repository: rwlove/homeassistant-secrets
        ref: master
        token: ${{ secrets.GITHUBPAT }} # `GitHub_PAT` is a secret that contains your PAT
        path: secrets
    - name: mkdir ${{ github.workspace }}/custom_components
      run: sudo mkdir ${{ github.workspace }}/custom_components
    - name: Clone sonoff
      uses: actions/checkout@v2.3.1
      with:
        repository: peterbuga/HASS-sonoff-ewelink
        path: ${{ github.workspace }}/HASS-sonoff-ewelink
    - name: sudo mv ${{ github.workspace }}/HASS-sonoff-ewelink/sonoff /custom_components/sonoff
      run: sudo mv ${{ github.workspace }}/HASS-sonoff-ewelink/sonoff ${{ github.workspace }}/custom_components/sonoff
    - name: Clone Wyzesense
      uses: actions/checkout@v2.3.1
      with:
        repository: kevinvincent/ha-wyzesense
        path: ${{ github.workspace }}/ha-wyzesense
    - name: sudo mv ${{ github.workspace }}/ha-wyzesense/custom_components/wyzesense ${{ github.workspace }}/custom_components/wyzesense
      run: sudo mv ${{ github.workspace }}/ha-wyzesense/custom_components/wyzesense ${{ github.workspace }}/custom_components/wyzesense
    - name: touch ${{ github.workspace }}/config/home-assistant.log
      run: touch ${{ github.workspace }}/config/home-assistant.log
    - name: Add HACS
      working-directory: ${{ github.workspace }}/config
      run: sudo wget -qO- https://hacs.xyz/install | sudo bash -x -
    - name: ls -la ${{ github.workspace }}
      working-directory: ${{ github.workspace }}
      run: ls -la
    - name: ls -lah ${{ github.workspace }}/config/
      working-directory: ${{ github.workspace }}/config
      run: ls -lah
    - name: ls -la ${{ github.workspace }}secrets/
      working-directory: ${{ github.workspace }}/secrets/
      run: ls -la
    - name: ls -la ${{ github.workspace }}/custom_components/*
      working-directory: ${{ github.workspace }}/custom_components/
      run: ls -la *
    - name: ls -laH ${{ github.workspace }}/custom_components/
      working-directory: ${{ github.workspace }}/custom_components/
      run: ls -laH
    - name: echo ${GITHUB_WORKSPACE}
      run: echo ${GITHUB_WORKSPACE}
    - name: Run Config Check
      uses: ludeeus/action-ha-config-check@master
      with:
        version: STABLE
        config_path: config
